.container-modal {
    position: fixed; 
    z-index: 10; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background-color: rgba(31, 41, 58, 0.75); 
    display: flex;
    justify-content: center;
    align-items: center; 

    .cart-modal {
        position: relative;
        z-index: 20; 
        background-color: #cbd5e1; 
        color: #1a202c; 
        min-width: 400px; 
        padding-left: 2.5rem; 
        padding-right: 2.5rem; 
        padding-top: 2.5rem;
        padding-bottom: 1.5rem; 
        border-radius: 0.375rem; 
        border: 1px solid #718096; 
        margin-bottom: 10vh;
        margin-top: 10vh;

        @media screen and (min-width: 768px) {
            min-width: 700px;
        }

        .btn-close-modal {
            position: absolute; 
            top: 0.5rem; 
            right: 0.5rem; 
            width: 1.75rem; 
            height: 1.75rem; 
            background-color: #e53e3e; 
            color: #f1f5f9; 
            border-radius: 0.375rem; 
            display: flex; 
            justify-content: center;
            align-items: center;
        }

        .cart-product {
            display: flex;
            align-items: center; 
            margin-bottom: 1rem;

            .cart-img {
                width: 4rem; 
                height: 4rem; 
                border-radius: 0.375rem;
            }

            .cart-title {
                margin-right: auto; 
                margin-left: 0.5rem; 
                font-size: 1.125rem; 
                font-weight: 600;
            }

            .cart-quantity {
                width: 5rem; 
                padding: 0.5rem; 
                border-radius: 0.375rem; 
                margin-right: 1rem;
            }

            .btn-delete {
                background-color: #1a202c; 
                color: #cbd5e1;
                padding-left: 0.5rem; 
                padding-right: 0.5rem; 
                display: inline-flex; 
                align-items: center; 
                justify-content: center; 
                border-radius: 0.375rem; 
                padding: 0.5rem
            }
        }

        .cart-empty {
            margin-bottom: 1rem;
        }

        .cart-total {
            font-size: 1.25rem;

            .cart-total-price {
                font-weight: 600;
            }
        }

        .btn-cmd {
            display: block; 
            margin-left: auto;
            margin-right: auto; 
            background-color: #2d3748;
            color: #cbd5e1; 
            border-radius: 0.375rem; 
            padding-left: 1rem; 
            padding-right: 1rem; 
            padding-top: 0.5rem; 
            padding-bottom: 0.5rem; 
            margin-top: 1.75rem
        }
    }
}